<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/doLogin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>controller.UserLoginController</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>userRegister</servlet-name>
        <url-pattern>/user/register.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>userRegister</servlet-name>
        <servlet-class>controller.UserRegisterController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>userQueryAll</servlet-name>
        <url-pattern>/user/queryAll</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>userQueryAll</servlet-name>
        <servlet-class>controller.UserQueryAllController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>userGetInfo</servlet-name>
        <url-pattern>/user/get</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>userGetInfo</servlet-name>
        <servlet-class>controller.UserGetInfoController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>userUpdate</servlet-name>
        <url-pattern>/user/update</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>userUpdate</servlet-name>
        <servlet-class>controller.UserUpdateController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>userDelete</servlet-name>
        <url-pattern>/user/delete</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>userDelete</servlet-name>
        <servlet-class>controller.UserDeleteController</servlet-class>
    </servlet>

    <filter-mapping>
        <filter-name>loginFilter</filter-name>
      <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>loginFilter</filter-name>
        <filter-class>utils.FilterUtil.loginFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>utils.FilterUtil.EncodingFilter</filter-class>
        <init-param>
            <param-name>encode</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>

    <listener>
       <listener-class>utils.listenerUtil.RequestListener</listener-class>
    </listener>
    <listener>
        <listener-class>utils.listenerUtil.SessionListener</listener-class>
    </listener>
<session-config>
   <session-timeout>30</session-timeout>
</session-config>

    <error-page>
        <error-code>404</error-code>
        <location>/error/filenotfound.jsp</location>
    </error-page>

    <!--<error-page>
        <error-code>500</error-code>
        <location>/error/serverExpection.jsp</location>
    </error-page>-->

</web-app>